buổi2_phamthaonguyen/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Root element -->
    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="product" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="quantity" type="xs:integer"/>
                                    </xs:sequence>
                                    <!-- Thuộc tính id của product -->
                                    <xs:attribute name="id" type="xs:ID" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <!-- Thuộc tính id của order -->
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                    </xs:complexType>

                    <!-- Ràng buộc: product/@id duy nhất trong mỗi order -->
                    <xs:unique name="UniqueProductPerOrder">
                        <xs:selector xpath="product"/>
                        <xs:field xpath="@id"/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- Ràng buộc: order/@id duy nhất toàn cục -->
        <xs:unique name="UniqueOrderID">
            <xs:selector xpath="order"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

</xs:schema>
